# Section_5 如何对不同选股方案进行组合(股票多策略)？

### 读取选股结果

In [1]:
import pandas as pd

strategy1 = pd.read_excel('divert_opt_quantile_5.xlsx').set_index("trade_date")
strategy2 = pd.read_excel('equal_weight_quantile_5.xlsx').set_index("trade_date")

strategy1.head()

,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000012.SZ,000024.SZ,000027.SZ,000039.SZ,000046.SZ,000060.SZ,...,601992.SH,601997.SH,601998.SH,603000.SH,603160.SH,603288.SH,603699.SH,603858.SH,603885.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20140103,1,0,0,0,0,1,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
20140106,0,0,0,0,0,1,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
20140107,0,1,0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
20140108,0,1,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20140109,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

### 为不同的选股方案设置不同的权重偏好，从而控制组合选股结果。以下以等权取交并集为例

In [2]:
import numpy as np

combined_result = 1*strategy1.replace(np.nan,0)+1*strategy2.replace(np.nan,0)

### 取交集

In [3]:
Intersection = combined_result[combined_result==2].fillna(0).replace(2,1)
Intersection.head()

,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000012.SZ,000024.SZ,000027.SZ,000039.SZ,000046.SZ,000060.SZ,...,601992.SH,601997.SH,601998.SH,603000.SH,603160.SH,603288.SH,603699.SH,603858.SH,603885.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20140103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20140106,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20140107,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20140108,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20140109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 取并集

In [4]:
Union = combined_result[combined_result>0].fillna(0)
Union[Union>0] = 1
Union.head()

,000001.SZ,000002.SZ,000008.SZ,000009.SZ,000012.SZ,000024.SZ,000027.SZ,000039.SZ,000046.SZ,000060.SZ,...,601992.SH,601997.SH,601998.SH,603000.SH,603160.SH,603288.SH,603699.SH,603858.SH,603885.SH,603993.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20140103,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20140106,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20140107,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20140108,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20140109,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### 测试策略组合效果

In [6]:
from jaqs.data import DataView 
import warnings
import numpy as np

warnings.filterwarnings("ignore")
dataview_folder = '../../Factor'
dv = DataView()
dv.load_dataview(dataview_folder)

def mask_index_member():
    df_index_member = dv.get_ts('index_member')
    mask_index_member = ~(df_index_member >0) #定义信号过滤条件-非指数成分
    return mask_index_member

def limit_up_down():
    # 定义可买卖条件——未停牌、未涨跌停
    trade_status = dv.get_ts('trade_status')
    mask_sus = trade_status == u'停牌'
    # 涨停
    dv.add_formula('up_limit', '(close - Delay(close, 1)) / Delay(close, 1) > 0.095', is_quarterly=False)
    # 跌停
    dv.add_formula('down_limit', '(close - Delay(close, 1)) / Delay(close, 1) < -0.095', is_quarterly=False)
    can_enter = np.logical_and(dv.get_ts('up_limit') < 1, ~mask_sus) # 未涨停未停牌
    can_exit = np.logical_and(dv.get_ts('down_limit') < 1, ~mask_sus) # 未跌停未停牌
    return can_enter,can_exit

mask = mask_index_member()
can_enter,can_exit = limit_up_down()

Dataview loaded successfully.

In [7]:
dv.append_df(field_name="Union",df=Union,is_quarterly=False)
dv.append_df(field_name="Intersection",df=Intersection,is_quarterly=False)

In [ ]:
from jaqs.research import SignalDigger
import matplotlib.pyplot as plt
from jaqs.research.signaldigger.analysis import analysis

obj = SignalDigger(output_folder='./output',
                   output_format='pdf')

def draw_analysis(signal="Union",benchmark_price=None):
    obj.process_signal_before_analysis(signal=dv.get_ts(signal),
                                       price=dv.get_ts("close_adj"),
                                       high=dv.get_ts("high_adj"), # 可为空
                                       low=dv.get_ts("low_adj"),# 可为空
                                       n_quantiles=1,# quantile分类数
                                       mask=mask,# 过滤条件
                                       can_enter=can_enter,# 是否能进场
                                       can_exit=can_exit,# 是否能出场
                                       period=30,# 持有期
                                       benchmark_price=benchmark_price, # 基准价格 可不传入，持有期收益（return）计算为绝对收益
                                       commission = 0.0008,
                                       )
    print(analysis(obj.signal_data,is_event=True,period=30))
    obj.create_full_report()
    plt.show()

In [ ]:
# 并集绩效 相对收益
draw_analysis('Union',dv.data_benchmark)

Nan Data Count (should be zero) : 0;  Percentage of effective data: 59%

In [ ]:
# 并集绩效 绝对收益
draw_analysis('Union',None)

In [ ]:
# 交集绩效 相对收益
draw_analysis('Intersection',dv.data_benchmark)

In [ ]:
# 交集绩效 绝对收益
draw_analysis('Intersection',None)

In [ ]:
Intersection.to_excel('./Intersection.xlsx')
Union.to_excel('./Union.xlsx')